body {
  margin: 0;
  background-color: #FCFDD3;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  
}

.site-header {
    position: relative;
    height: auto;
    z-index: 2;
    display: flex;
    padding: 0 var(--gap);
    margin: 0 0 var(--gap) 0;
    background-color: #111;
    border-bottom: 5px solid #FAA500
}

.site-header .logo {
    transition: 0s;
    flex: 0;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center
}

.typewrite {
  height: 35px;
  background: #010002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

h1 {
  font-size: 25px;
  color: #FAA500;
  text-align: center;
  font-family: 'Love Ya Like A Sister';
  font-weight: normal;
  margin: 0rem 5rem 0 0;
}

@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "g"; }
  2.2791%, 25.0698% { content: "gr"; }
  3.4186%, 23.9302% { content: "gre"; }
  4.5581%, 22.7907% { content: "gree"; }
  5.6977%, 21.6512% { content: "green"; }
  6.8372%, 20.5116% { content: "greene"; }
  7.9767%, 19.3721% { content: "greeney"; }
  9.1163%, 18.2326% { content: "greeneye"; }
  10.2558%, 17.0930% { content: "greeneyed"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "d"; }
  33.0465%, 49.0000% { content: "do"; }
  34.1860%, 47.8605% { content: "dos"; }
  35.3256%, 46.7209% { content: "dost"; }
  36.4651%, 45.5814% { content: "dostu"; }
  37.6047%, 44.4419% { content: "dostum"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "y"; }
  56.9767%, 72.9302% { content: "yo"; }
  58.1163%, 71.7907% { content: "yoo"; }
  59.2558%, 70.6512% { content: "yoor"; }
  60.3953%, 69.5116% { content: "yooru"; }
  61.5349%, 68.3721% { content: "yoorum"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "b"; }
  80.9070%, 94.5814% { content: "ba"; }
  82.0465%, 93.4419% { content: "bar"; }
  83.1860%, 92.3023% { content: "barf"; }
  84.3256%, 91.1628% { content: "barfi"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }

}

.typewriter {
  --caret:#6BC48A;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "greeneyed"; }
    25% { content: "dostum"; }
    50% { content: "yoorum"; }
    75% { content: "barfi"; }
  }

  .typewriter::before {
    content: "greeneyed";
    animation: sequencePopup 12s linear infinite;
  }
}

.logo-img:hover {
    rotate: -2deg;
}
.site-header .header-middle-area {
    flex: 1;
    width: 100%
}

.site-header .main-nav>ul {
    display: flex;
    height: 50%
}

.site-header .main-nav>ul>li>a {
    font-family: "Allerta Stencil";
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    height: 100%;
    color: #6BC48A;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.site-header .main-nav>ul>li>a:focus,.site-header .main-nav>ul>li>a:hover {
    color: orange;
    background: hsla(0,0%,100%,.09);
    opacity: 1;
}

.home, .s1, .s2, .s3, .s4 {


  --c:linear-gradient(#6BC48A 0 0); /* update the color here */
  
  padding-bottom: 2px;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}
.home:hover, .s1:hover, .s2:hover, .s3:hover, .s4:hover {
  background-size: 40% .2em;
  background-position: 10% 100%, 90% 100%;
}




.section-heading {
    font-family: "Allerta Stencil";
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    color: #10996d;
    margin: 20 10 40px;
  }


 

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.menu {
  font-size: 62.5%;
}
.menu {
  height: 100%;
}
.menu {
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
@keyframes appear {
  0% {
    top: 0;
    transform-origin: 5rem 0;
  }
  100% {
    top: -15rem;
    transform-origin: 5rem 15rem;
  }
}
@keyframes menu-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.orbital-menu {
  position: relative;
}
.orbital-menu__list {
  position: absolute;
  top: 60%;
  margin-top: 0px;
  left: 50%;
  animation: menu-rotation linear 60s infinite;
}
.orbital-menu__list:hover {
  animation-play-state: paused;
}
.orbital-menu__list:hover .orbital-menu__link > * {
  animation-play-state: paused;
}
.orbital-menu__item {
  position: absolute;
  animation: appear 2s forwards;
  left: -5rem;
  top: 0;
  transform-origin: 5rem 0;
}
.orbital-menu__item:nth-child(2) {
  animation-delay: 0.1s;
  transform: rotate(45deg);
}
.orbital-menu__item:nth-child(2) .orbital-menu__link {
  transform: rotate(-45deg);
}
.orbital-menu__item:nth-child(2) .orbital-menu__link:before {
  background: #ffd24d;
  animation-delay: 0.33s;
}
.orbital-menu__item:nth-child(3) {
  animation-delay: 0.2s;
  transform: rotate(90deg);
}
.orbital-menu__item:nth-child(3) .orbital-menu__link {
  transform: rotate(-90deg);
}
.orbital-menu__item:nth-child(3) .orbital-menu__link:before {
  background: #a6ff4d;
  animation-delay: 0.66s;
}
.orbital-menu__item:nth-child(4) {
  animation-delay: 0.3s;
  transform: rotate(135deg);
}
.orbital-menu__item:nth-child(4) .orbital-menu__link {
  transform: rotate(-135deg);
}
.orbital-menu__item:nth-child(4) .orbital-menu__link:before {
  background: #4dff79;
  animation-delay: 0.99s;
}
.orbital-menu__item:nth-child(5) {
  animation-delay: 0.4s;
  transform: rotate(180deg);
}
.orbital-menu__item:nth-child(5) .orbital-menu__link {
  transform: rotate(-180deg);
}
.orbital-menu__item:nth-child(5) .orbital-menu__link:before {
  background: #4dffff;
  animation-delay: 1.32s;
}
.orbital-menu__item:nth-child(6) {
  animation-delay: 0.5s;
  transform: rotate(225deg);
}
.orbital-menu__item:nth-child(6) .orbital-menu__link {
  transform: rotate(-225deg);
}
.orbital-menu__item:nth-child(6) .orbital-menu__link:before {
  background: #4d79ff;
  animation-delay: 1.65s;
}
.orbital-menu__item:nth-child(7) {
  animation-delay: 0.6s;
  transform: rotate(270deg);
}
.orbital-menu__item:nth-child(7) .orbital-menu__link {
  transform: rotate(-270deg);
}
.orbital-menu__item:nth-child(7) .orbital-menu__link:before {
  background: #a64dff;
  animation-delay: 1.98s;
}
.orbital-menu__item:nth-child(8) {
  animation-delay: 0.7s;
  transform: rotate(315deg);
}
.orbital-menu__item:nth-child(8) .orbital-menu__link {
  transform: rotate(-315deg);
}
.orbital-menu__item:nth-child(8) .orbital-menu__link:before {
  background: #ff4dd2;
  animation-delay: 2.31s;
}
.orbital-menu__link {
  position: relative;
  display: block;
  height: 5rem;
  width: 5rem;
}
.orbital-menu__link:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ff4d4d;
  border-radius: 50%;
  animation: scaling linear 3s infinite;
}
.orbital-menu__link > * {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: menu-rotation linear 60s infinite;
  animation-direction: reverse;
  transition: 250ms ease all;
}
.orbital-menu__link-text {
  opacity: 0;
  text-align: center;
  color: #fff;
}
.orbital-menu__link-icon {
  color: rgba(0, 0, 0, 0.8);
}
.orbital-menu__link:hover:before {
  animation-play-state: paused;
  filter: brightness(0.7);
}
.orbital-menu__link:hover .orbital-menu__link-text {
  opacity: 1;
}
.orbital-menu__link:hover .orbital-menu__link-icon {
  opacity: 0;
}
.orbital-menu__center-pic {
  position: relative;
  left: 45%;
  margin-top: 200px;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  border-radius: 5rem;
}
.orbital-menu__center-pic > img {
  position: absolute;
  inset: 0;
  max-width: 100%;
  transition: 500ms ease all;
}
.orbital-menu__center-pic:hover > img:last-child {
  opacity: 0;
}






footer {
  
  width: 100%;
  margin-top: 50px;
  position: fixed;
  left: 0;
  bottom: 0; 
  background-color: #777;
  color: #FAA500;
  font-family: "kalam";
  font-size: 14px;
  padding: 10px;
  text-align: center;
  
}